In [1]:
import pandas as pd 
import numpy as np

In [2]:
movies = pd.read_csv('marvel.csv')

In [3]:
sales_2008 = pd.read_csv('data/sales_2008.csv')
sales_2009 = pd.read_csv('data/sales_2009.csv')
sales_2010 = pd.read_csv('data/sales_2010.csv')
sales_2011 = pd.read_csv('data/sales_2011.csv')
sales_2012 = pd.read_csv('data/sales_2012.csv')
sales_2013 = pd.read_csv('data/sales_2013.csv')
sales_2014 = pd.read_csv('data/sales_2014.csv')
sales_2015 = pd.read_csv('data/sales_2015.csv')
sales_2016 = pd.read_csv('data/sales_2016.csv')
sales_2017 = pd.read_csv('data/sales_2017.csv')
sales_2018 = pd.read_csv('data/sales_2018.csv')
sales_2019 = pd.read_csv('data/sales_2019.csv')
sales_2020 = pd.read_csv('data/sales_2020.csv')
sales_2021 = pd.read_csv('data/sales_2021.csv')

In [4]:
def ccleaner(data, date):
    # add date
    data['Publish Date'] = date
    second_column = data.pop('Publish Date')
    data.insert(1, 'Publish Date', second_column)
    
    # remove dollar
    data['Price'] = data['Price'].replace('[\$,]', '', regex=True).astype(float)
    
    # remove commas from 'Est. units' and convert to float
    data['Est. units'] = data['Est. units'].replace(',', '', regex=True).astype(float)
    
    # create total column
    data['Total'] = data['Price'] * data['Est. units']
        
    # add comic_id
    data['Comic_ID'] = data.index
    
    data_list = []
    df = pd.DataFrame(columns=['Comic_ID', 'Publish Date', 'Comic-book Title', 'Price', 'Publisher', 'Est. units', 'Total'])
    
    for index, result in data.iterrows():
        local = {}
        local['Comic_ID'] = result['Comic_ID']
        local['Publish Date'] = result['Publish Date']
        local['Comic-book Title'] = result['Comic-book Title']
        local['Price'] = result['Price']
        local['Publisher'] = result['Publisher']
        local['Est. units'] = result['Est. units']
        local['Total'] = result['Total']
        data_list.append(local)
    
    df = pd.DataFrame(data_list)    
    return df

In [14]:
def save_csv(data, name):
    file_name = f'data_{name}.csv'
    data.to_csv(f'data/{file_name}', index=False)

In [7]:
def search_by_name(data, column,  name):
    result = data[data[column].str.contains(name)]
    return result

In [6]:
def add_index(data, name):
    data[name] = data.index
    first_column = data.pop(name)
    data.insert(0, name, first_column)
    return data

In [7]:
add_index(movies, 'Movie_ID')

,Movie_ID,Title,Distributor(s),Release date(United States),Bud�get (mil�lions),Opening weekend(North America),North America,Other territories,Worldwide
0,0,Iron Man,Paramount Pictures,May 2 2008,$140,$98618668,$318412101,$266762121,$585174222
1,1,The Incredible Hulk,Universal Pictures,June 13 2008,$150,$55414050,$134806913,$128620638,$263427551
2,2,Punisher: War Zone,Lionsgate Films,December 5 2008,$35,$4271451,$8050977,$2049059,$10100036
3,3,X-Men Origins: Wolverine,20th Century Fox,May 1 2009,$150,$85058003,$179883157,$193179707,$373062864
4,4,Iron Man 2,Paramount Pictures,May 7 2010,$200,$128122480,$312433331,$311500000,$623933331
5,5,Thor,Paramount Pictures,May 6 2011,$150,$65723338,$181030624,$268295994,$449326618
6,6,X-Men: First Class,20th Century Fox,June 3 2011,$160,$55101604,$146408305,$207215819,$353624124
7,7,Captain America: The First Avenger,Paramount Pictures,July 22 2011,$140,$65058524,$176654505,$193915269,$370569774
8,8,Ghost Rider: Spirit of Vengeance,Sony Pictures,February 17 2012,$57,$22115334,$51774002,$80789928,$132563930
9,9,The Avengers,Walt Disney Studios Motion Pictures,May 4 2012,$220,$207438708,$623357910,$895455078,$1518812988
10,10,The Amazing Spider-Man,Sony Pictures,July 3 2012,$230,$62004688,$262030663,$495900000,$757930663
11,11,Iron Man 3,Walt Disney Studios Motion Pictures,May 3 2013,$200,$174144585,$409013994,$805797258,$1214811252
12,12,The Wolverine,20th Century Fox,July 26 2013,$120,$53113752,$132550960,$282271394,$414828246
13,13,Thor: The Dark World,Walt Disney Studios Motion Pictures,November 8 2013,$170,$85737841,$206362140,$438209262,$644571402
14,14,Captain America: The Winter Soldier,Walt Disney Studios Motion Pictures,April 4 2014,$170,$95023721,$259766572,$454497695,$714264267
15,15,The Amazing Spider-Man 2,Sony Pictures,May 2 2014,$255,$91608337,$202853933,$506128390,$708982323
16,16,X-Men: Days of Future Past,20th Century Fox,May 23 2014,$200,$90823660,$233921534,$513941241,$747862775
17,17,Guardians of the Galaxy,Walt Disney Studios Motion Pictures,August 1 2014,$170,$94320883,$333176600,$440152029,$773328629
18,18,Big Hero 6,Walt Disney Studios Motion Pictures,November 7 2014,$165,$56215889,$222527828,$435300000,$657827828
19,19,Avengers: Age of Ultron,Walt Disney Studios Motion Pictures,May 1 2015,$250,$191271109,$459005868,$946397826,$1405403694
20,20,Ant-Man,Walt Disney Studios Motion Pictures,July 17 2015,$130,$57225526,$180202163,$339109802,$519311965
21,21,Fantastic Four,20th Century Fox,August 7 2015,$120,$25685737,$56117548,$111765333,$167882881
22,22,Deadpool,20th Century Fox,February 12 2016,$58,$132434600,$363070709,$420042270,$783112979
23,23,Captain America: Civil War,Walt Disney Studios Motion Pictures,May 6 2016,$250,$179139142,$408084349,$745220146,$1153304495
24,24,X-Men: Apocalypse,20th Century Fox,May 27 2016,$178,$65769562,$155442489,$388491616,$543934105
25,25,Doctor Strange,Walt Disney Studios Motion Pictures,November 4 2016,$165,$85058311,$232641920,$445076475,$677718395
26,26,Logan,20th Century Fox,March 3 2017,$97,$88411916,$226277068,$390518532,$616795600
27,27,Guardians of the Galaxy Vol. 2,Walt Disney Studios Motion Pictures,May 5 2017,$200,$146510104,$389813101,$473942950,$863756051
28,28,Spider-Man: Homecoming,Sony Pictures,July 7 2017,$175,$117027503,$334201140,$545965784,$880166924
29,29,Inhumans,IMAX Entertainment,September 1 2017,NaN,$1500000,$1521787,$1330495,$2852282
30,30,Thor: Ragnarok,Walt Disney Studios Motion Pictures,November 3 2017,$180,$122744989,$315058289,$538918837,$853977126
31,31,Black Panther,Walt Disney Studios Motion Pictures,February 16 2018,$200,$202003951,$700059566,$646853595,$1346913161
32,32,Avengers: Infinity War,Walt Disney Studios Motion Pictures,April 27 2018,$316,$257698183,$678815482,$1369544272,$2048359754
33,33,Deadpool 2,20th Century Fox,May 18 2018,$110,$125507153,$324591735,$460455185,$785046920
34,34,Ant-Man and the Wasp,Walt Disney Studios Motion Pictures,July 6 2018,$162,$75812205,$216648740,$406025399,$622674139
35,35,Venom,Sony Pictures,October 5 2018,$100,$80255756,$213515506,$641498448,$855013954
36,36,Spider-Man: Into the Spider-Verse,Sony Pictures,December 14 2018,$90,$35363376,$190241310,$185299521,$375540831
37,37,Captain Marvel,Walt Disney Studios Motion Pictures,March 8 2019,$152,$153433423,$426829839,$701444955,$1128274794
38,38,Avengers: Endgame,Walt Disney Studios Motion Pictures,April 26 2019,$356,$357115007,$858373000,$1937901401,$2797800564
39,39,Dark Phoenix,20th Century Fox,June 7 2019,$200,$32828348,$65845974,$186597000,$252442974
40,40,Spider-Man: Far From Home,Sony Pictures,July 2 2019,$160,$92579212,$390532085,$741395911,$1131927996
41,41,The New Mutants,20th Century Studios,August 28 2020,$67,$7037017,$23855569,$24819497,$48675066
42,42,Black Widow,Walt Disney Studios Motion Pictures,July 9 2021,$200,$80366312,$183651665,$195979696,$379631351
43,43,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,September 3 2021,$150,$75388688,$224543292,$207700000,$432243292
44,44,Venom: Let There Be Carnage,Sony Pictures,October 1 2021,$110,$90033210,$213550366,$288500000,$502050366
45,45,Eternals,Walt Disney Studios Motion Pictures,November 5 2021,$200,$85021497,$164870234,$237194665,$402064899
46,46,Spider-Man: No Way Home,Sony Pictures,December 17 2021,$200,$260138569,$780418859,$1072000000,$1852418859
47,47,Total,Total,Total,$8424,$5688487114,$15809734872,$24430137918,$40239878672
48,48,Average,Average,Average,$142.352,$83992268,$228139366,$344915384,$573054859

In [17]:
df_09

,Comic_ID,Publish Date,Comic-book Title,Price,Publisher,Est. units,Total
0,0,2009,Amazing Spider-Man,3.99,Marvel,530500.0,2116695.0
1,1,2009,Captain America Reborn,3.99,Marvel,199900.0,797601.0
2,2,2009,Captain America,4.99,Marvel,136800.0,682632.0
3,3,2009,Dark Avengers,3.99,Marvel,136500.0,544635.0
4,4,2009,Captain America Reborn,3.99,Marvel,128000.0,510720.0
...,...,...,...,...,...,...,...
306,306,2009,Fantastic Four,2.99,Marvel,42700.0,127673.0
307,307,2009,Daredevil,2.99,Marvel,42400.0,126776.0
308,308,2009,Secret Warriors,2.99,Marvel,42300.0,126477.0
309,309,2009,War of Kings,3.99,Marvel,42200.0,168378.0
310,310,2009,Dark X-Men,3.99,Marvel,42200.0,168378.0

In [10]:
save_csv(movies, 'mcu')

In [8]:
df_08 = ccleaner(sales_2008,'2008')
df_09 = ccleaner(sales_2009, '2009')
df_10 = ccleaner(sales_2010, '2010')
df_11 = ccleaner(sales_2011,'2011')
df_12 = ccleaner(sales_2012, '2012')
df_13 = ccleaner(sales_2013, '2013')
df_14 = ccleaner(sales_2014, '2014')
df_15 = ccleaner(sales_2015, '2015')
df_16 = ccleaner(sales_2016, '2016')
df_17 = ccleaner(sales_2017, '2017')
df_18 = ccleaner(sales_2018, '2018')
df_19 = ccleaner(sales_2019, '2019')
df_20 = ccleaner(sales_2020, '2020')
df_21 = ccleaner(sales_2021, '2021')

In [15]:
save_csv(df_09, 'comic_2009')

In [10]:
#search_by_name(df_08, 'Comic-book Title',  'Spider-Man')

In [12]:
"""
marvel['Release date(United States)'] = pd.to_datetime(marvel['Release date(United States)'], errors='coerce')
marvel['Release date'] = marvel['Release date(United States)'].dt.year

marvel
"""

"\nmarvel['Release date(United States)'] = pd.to_datetime(marvel['Release date(United States)'], errors='coerce')\nmarvel['Release date'] = marvel['Release date(United States)'].dt.year\n\nmarvel\n"

In [20]:
def obter_valores_unicos(data_frame, coluna):
    # Usar o método unique do pandas para obter os valores únicos da coluna
    unique_titles_list = data_frame[coluna].unique().tolist()
    
    return unique_titles_list

In [31]:
res = pd.DataFrame()
res['Comic-book Title'] = obter_valores_unicos(df_09, 'Comic-book Title')
res

                  Comic-book Title
0               Amazing Spider-Man
1           Captain America Reborn
2                  Captain America
3                    Dark Avengers
4                     New Avengers
..                             ...
73         Fall of Hulks Gamma Foh
74   Dark Tower the Fall of Gilead
75   Dark Reign List Hulk One Shot
76                  X-Force Annual
77  Dark Reign Sinister Spider-Man

[78 rows x 1 columns]

In [35]:
def somar_total_por_titulo(data_frame):
    # Pegar valores únicos da coluna 'Comic-book Title'
    unique_titles = set(data_frame['Comic-book Title'])

    # Criar uma lista para armazenar os DataFrames individuais
    dfs = []

    # Iterar sobre os valores únicos e somar os 'Total' correspondentes
    for title in unique_titles:
        total_sum = data_frame[data_frame['Comic-book Title'] == title]['Total'].sum()
        df_temp = pd.DataFrame({'Comic-book Title': [title], 'Total_Sum': [total_sum]})
        dfs.append(df_temp)

    # Concatenar os DataFrames individuais em um DataFrame final
    result_df = pd.concat(dfs, ignore_index=True)

    return result_df

In [36]:
somar_total_por_titulo(df_09)

                               Comic-book Title  Total_Sum
0                                     Daredevil   648843.0
1                                  War of Kings   973161.0
2                  Ultimatum Spider-Man Requiem   191919.0
3   Dark Reign List Amazing Spider-Man One-Shot   227829.0
4                                  New Avengers  4374213.0
..                                          ...        ...
73                              Mighty Avengers  2329765.0
74                    Dark Reign Fantastic Four   145015.0
75                                  Siege Cabal   270123.0
76                   Ultimate Comics Spider-Man  1203783.0
77                                        Cable   449098.0

[78 rows x 2 columns]