In [1]:
import pandas as pd 
import numpy as np

In [2]:
movies = pd.read_csv('mcu_box_office.csv')

In [3]:
movies['release_date'] = pd.to_datetime(movies['release_date']).dt.to_period('Y')

In [4]:
sales_2008 = pd.read_csv('data/sales_2008.csv')
sales_2009 = pd.read_csv('data/sales_2009.csv')
sales_2010 = pd.read_csv('data/sales_2010.csv')
sales_2011 = pd.read_csv('data/sales_2011.csv')
sales_2012 = pd.read_csv('data/sales_2012.csv')
sales_2013 = pd.read_csv('data/sales_2013.csv')
sales_2014 = pd.read_csv('data/sales_2014.csv')
sales_2015 = pd.read_csv('data/sales_2015.csv')
sales_2016 = pd.read_csv('data/sales_2016.csv')
sales_2017 = pd.read_csv('data/sales_2017.csv')
sales_2018 = pd.read_csv('data/sales_2018.csv')
sales_2019 = pd.read_csv('data/sales_2019.csv')
sales_2020 = pd.read_csv('data/sales_2020.csv')
sales_2021 = pd.read_csv('data/sales_2021.csv')

In [5]:
def ccleaner(data, date):
    # add date
    data['Publish Date'] = date
    second_column = data.pop('Publish Date')
    data.insert(1, 'Publish Date', second_column)
    
    # remove dollar
    data['Price'] = data['Price'].replace('[\$,]', '', regex=True).astype(float)
    
    # remove commas from 'Est. units' and convert to float
    data['Est. units'] = data['Est. units'].replace(',', '', regex=True).astype(float)
    
    # create total column
    data['Total'] = data['Price'] * data['Est. units']
        
    # add comic_id
    data['Comic_ID'] = data.index
    
    data_list = []
    df = pd.DataFrame(columns=['Comic_ID', 'Publish Date', 'Comic-book Title', 'Price', 'Publisher', 'Est. units', 'Total'])
    
    for index, result in data.iterrows():
        local = {}
        local['Comic_ID'] = result['Comic_ID']
        local['Publish Date'] = result['Publish Date']
        local['Comic-book Title'] = result['Comic-book Title']
        local['Price'] = result['Price']
        local['Publisher'] = result['Publisher']
        local['Est. units'] = result['Est. units']
        local['Total'] = result['Total']
        data_list.append(local)
    
    df = pd.DataFrame(data_list)    
    return df

In [6]:
def save_csv(data, name):
    file_name = f'data_{name}.csv'
    data.to_csv(f'data/{file_name}', index=False)

In [7]:
def search_by_name(data, column,  name):
    result = data[data[column].str.contains(name)]
    return result

In [8]:
def add_index(data, name):
    data[name] = data.index
    first_column = data.pop(name)
    data.insert(0, name, first_column)
    return data

In [9]:
add_index(movies, 'Movie_ID')

,Movie_ID,movie_title,mcu_phase,release_date,tomato_meter,audience_score,movie_duration,production_budget,opening_weekend,domestic_box_office,worldwide_box_office
0,0,Iron Man,1,2008,94,91,126,"186,000,000","102,118,668","318,604,126","585,171,547"
1,1,The Incredible Hulk,1,2008,67,70,112,"137,500,000","55,414,050","134,806,913","265,573,859"
2,2,Iron Man 2,1,2010,72,71,124,"170,000,000","128,122,480","312,433,331","621,156,389"
3,3,Thor,1,2011,77,76,113,"150,000,000","65,723,338","181,030,624","449,326,618"
4,4,Captain America: The First Avenger,1,2011,79,75,124,"140,000,000","65,058,524","176,654,505","370,569,776"
5,5,The Avengers,1,2012,91,91,143,"225,000,000","207,438,708","623,357,910","1,515,100,211"
6,6,Iron Man 3,2,2013,79,78,130,"200,000,000","174,144,585","408,992,272","1,215,392,272"
7,7,Thor: The Dark World,2,2013,66,75,111,"150,000,000","85,737,841","206,362,140","644,602,516"
8,8,Captain America: The Winter Soldier,2,2014,90,92,135,"170,000,000","95,023,721","259,746,958","714,401,889"
9,9,Guardians of the Galaxy,2,2014,92,92,121,"170,000,000","94,320,883","333,714,112","770,882,395"
10,10,Avengers: Age of Ultron,2,2015,76,83,141,"365,000,000","191,271,109","459,005,868","1,395,316,979"
11,11,Ant-Man,2,2015,83,85,117,"130,000,000","57,225,526","180,202,163","518,858,449"
12,12,Captain America: Civil War,3,2016,90,89,146,"250,000,000","179,139,142","408,084,349","1,151,918,521"
13,13,Doctor Strange,3,2016,89,86,115,"165,000,000","85,058,311","232,641,920","676,354,481"
14,14,Guardians of the Galaxy Vol. 2,3,2017,85,87,135,"200,000,000","146,510,104","389,813,101","869,113,101"
15,15,Spider-Man: Homecoming,3,2017,92,87,133,"175,000,000","117,027,503","334,201,140","878,346,440"
16,16,Thor: Ragnarok,3,2017,93,87,130,"180,000,000","122,744,989","315,058,289","850,482,778"
17,17,Black Panther,3,2018,96,79,134,"200,000,000","202,003,951","700,059,566","1,336,494,321"
18,18,Avengers: Infinity War,3,2018,85,91,149,"300,000,000","257,698,183","678,815,482","2,048,359,754"
19,19,Ant-Man and the Wasp,3,2018,87,81,118,"130,000,000","75,812,205","216,648,740","623,144,660"
20,20,Captain Marvel,3,2019,79,45,124,"175,000,000","153,433,423","426,829,839","1,129,727,388"
21,21,Avengers: End Game,3,2019,94,90,181,"400,000,000","357,115,007","858,373,000","2,797,800,564"
22,22,Spider-Man: Far From Home,3,2019,90,95,129,"160,000,000","92,579,212","390,532,085","1,132,532,832"
23,23,Black Widow,4,2021,79,91,133,"200,000,000","80,366,312","183,651,655","379,751,655"
24,24,Shang-Chi and the Legend of the Ten Rings,4,2021,91,98,133,"150,000,000","75,388,688","224,543,292","432,243,292"
25,25,Eternals,4,2021,47,78,157,"200,000,000","71,297,219","164,870,264","402,064,929"
26,26,Spider-Man: No Way Home,4,2021,93,98,148,"200,000,000","260,138,569","803,975,784","1,891,108,035"

In [10]:
save_csv(movies, 'mcu')

In [11]:
df_08 = ccleaner(sales_2008,'2008')
df_09 = ccleaner(sales_2009, '2009')
df_10 = ccleaner(sales_2010, '2010')
df_11 = ccleaner(sales_2011,'2011')
df_12 = ccleaner(sales_2012, '2012')
df_13 = ccleaner(sales_2013, '2013')
df_14 = ccleaner(sales_2014, '2014')
df_15 = ccleaner(sales_2015, '2015')
df_16 = ccleaner(sales_2016, '2016')
df_17 = ccleaner(sales_2017, '2017')
df_18 = ccleaner(sales_2018, '2018')
df_19 = ccleaner(sales_2019, '2019')
df_20 = ccleaner(sales_2020, '2020')
df_21 = ccleaner(sales_2021, '2021')

In [12]:
search_by_name(df_08, 'Comic-book Title',  'Spider-Man')

,Comic_ID,Publish Date,Comic-book Title,Price,Publisher,Est. units,Total
1,1,2008,Amazing Spider-Man,3.99,Marvel,127856.0,510145.44
7,7,2008,Amazing Spider-Man,2.99,Marvel,101132.0,302384.68
8,8,2008,Amazing Spider-Man,2.99,Marvel,97881.0,292664.19
17,17,2008,Ultimate Spider-Man,2.99,Marvel,58753.0,175671.47
35,35,2008,What If Spider-Man Vs Wolverine,2.99,Marvel,35253.0,105406.47
...,...,...,...,...,...,...,...
1149,1149,2008,X-Men Spider-Man,3.99,Marvel,25569.0,102020.31
1195,1195,2008,Amazing Spider-Man Family,4.99,Marvel,7710.0,38472.90
1196,1196,2008,Spider-Man Loves Mary Jane Season 2,2.99,Marvel,7458.0,22299.42
1197,1197,2008,Spider-Man Brand New Day Yearbook,4.99,Marvel,6523.0,32549.77
1203,1203,2008,Marvel Adventures Spider-Man,2.99,Marvel,4850.0,14501.50

In [13]:
marvel = pd.read_csv('marvel.csv', encoding='ISO-8859-1')
marvel

,Title,Distributor(s),Release date(United States),Bud­get (mil­lions),Opening weekend(North America),North America,Other territories,Worldwide
0,Howard the Duck,Universal Pictures,August 1 1986,$37,$5070136,$16295774,$21667000,$37962774
1,Blade,New Line Cinema,August 21 1998,$45,$17073856,$70087718,$61095812,$131183530
2,X-Men,20th Century Fox,July 14 2000,$75,$54471475,$157299717,$139039810,$296339527
3,Blade II,New Line Cinema,March 22 2002,$54,$32528016,$82348319,$72661713,$155010032
4,Spider-Man,Sony Pictures,May 3 2002,$139,$114844116,$403706375,$418002176,$821708551
...,...,...,...,...,...,...,...,...
61,Venom: Let There Be Carnage,Sony Pictures,October 1 2021,$110,$90033210,$213550366,$288500000,$502050366
62,Eternals,Walt Disney Studios Motion Pictures,November 5 2021,$200,$85021497,$164870234,$237194665,$402064899
63,Spider-Man: No Way Home,Sony Pictures,December 17 2021,$200,$260138569,$780418859,$1072000000,$1852418859
64,Total,Total,Total,$8424,$5688487114,$15809734872,$24430137918,$40239878672
65,Average,Average,Average,$142.352,$83992268,$228139366,$344915384,$573054859

In [14]:
add_index(marvel, 'Movie_ID')

,Movie_ID,Title,Distributor(s),Release date(United States),Bud­get (mil­lions),Opening weekend(North America),North America,Other territories,Worldwide
0,0,Howard the Duck,Universal Pictures,August 1 1986,$37,$5070136,$16295774,$21667000,$37962774
1,1,Blade,New Line Cinema,August 21 1998,$45,$17073856,$70087718,$61095812,$131183530
2,2,X-Men,20th Century Fox,July 14 2000,$75,$54471475,$157299717,$139039810,$296339527
3,3,Blade II,New Line Cinema,March 22 2002,$54,$32528016,$82348319,$72661713,$155010032
4,4,Spider-Man,Sony Pictures,May 3 2002,$139,$114844116,$403706375,$418002176,$821708551
...,...,...,...,...,...,...,...,...,...
61,61,Venom: Let There Be Carnage,Sony Pictures,October 1 2021,$110,$90033210,$213550366,$288500000,$502050366
62,62,Eternals,Walt Disney Studios Motion Pictures,November 5 2021,$200,$85021497,$164870234,$237194665,$402064899
63,63,Spider-Man: No Way Home,Sony Pictures,December 17 2021,$200,$260138569,$780418859,$1072000000,$1852418859
64,64,Total,Total,Total,$8424,$5688487114,$15809734872,$24430137918,$40239878672
65,65,Average,Average,Average,$142.352,$83992268,$228139366,$344915384,$573054859

In [15]:
marvel['Release date(United States)'] = pd.to_datetime(marvel['Release date(United States)'], errors='coerce')
marvel['Release date'] = marvel['Release date(United States)'].dt.year

marvel

,Movie_ID,Title,Distributor(s),Release date(United States),Bud­get (mil­lions),Opening weekend(North America),North America,Other territories,Worldwide,Release date
0,0,Howard the Duck,Universal Pictures,1986-08-01,$37,$5070136,$16295774,$21667000,$37962774,1986.0
1,1,Blade,New Line Cinema,1998-08-21,$45,$17073856,$70087718,$61095812,$131183530,1998.0
2,2,X-Men,20th Century Fox,2000-07-14,$75,$54471475,$157299717,$139039810,$296339527,2000.0
3,3,Blade II,New Line Cinema,2002-03-22,$54,$32528016,$82348319,$72661713,$155010032,2002.0
4,4,Spider-Man,Sony Pictures,2002-05-03,$139,$114844116,$403706375,$418002176,$821708551,2002.0
...,...,...,...,...,...,...,...,...,...,...
61,61,Venom: Let There Be Carnage,Sony Pictures,2021-10-01,$110,$90033210,$213550366,$288500000,$502050366,2021.0
62,62,Eternals,Walt Disney Studios Motion Pictures,2021-11-05,$200,$85021497,$164870234,$237194665,$402064899,2021.0
63,63,Spider-Man: No Way Home,Sony Pictures,2021-12-17,$200,$260138569,$780418859,$1072000000,$1852418859,2021.0
64,64,Total,Total,NaT,$8424,$5688487114,$15809734872,$24430137918,$40239878672,NaN
65,65,Average,Average,NaT,$142.352,$83992268,$228139366,$344915384,$573054859,NaN